<!DOCTYPE html>
<html>
  <head>
    <style>
      .title {
        color: brown;
      }
      /* Add your CSS styles here */
    </style>
  </head>
  <body>
    <h1>Pet Information</h1>
    <ul>
      <li class="title">Name: <%= pet.title %></li>
      <li>Species: <%= pet.species %></li>
      <li>Breed: <%= pet.breed %></li>
      <li>Pattern: <%= pet.pattern %></li>
      <li>Age: <%= pet.age %></li>
      <li>Coat: <%= pet.coat %></li>
      <li>Size: <%= pet.size %></li>
      <li>Status: <%= pet.petStatus %></li>
    </ul>
    <p>Description: <%= pet.description %></p>
  </body>
</html>
