<% layout('layouts/boilerplate')%>
<script>
  import formatDistanceToNow from "date-fns/formatDistanceToNow";
</script>

<style>
  .marker-icon {
    background-position: center;
    background-size: 22px 22px;
    border-radius: 50%;
    height: 22px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: rotate(45deg);
    width: 22px;
  }
  .marker {
    height: 30px;
    width: 30px;
  }
  .marker-content {
    background: #9b59b6 !important;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
  }
  .marker-content::before {
    background: #ffffff;
    border-radius: 50%;
    content: "";
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    width: 24px;
  }
</style>
<style>
  .mapboxgl-popup-tip {
    display: none !important;
  }
</style>
<div id="map" class="map" style="width: 100%; height: 400px"></div>


<div class="col-md-12 mt-3">
  
  <form action="/pets" method="GET" class="row mx-auto" role="search" id="filterForm">
    <!-- <h5 class="text-white text-center mt-2">Filter Pets</h5> -->
  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="bi bi-sliders"></i> Filters
    </a>
    <!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-bs-target
    </button> -->
  </p>
  <div class="collapse" id="collapseExample">
    <div class="row g-3">
      <p class="small text-muted">Distance-based search is available when your location is provided. Please wait a moment.</p>
      <div class="d-flex flex-column d-none">
        <p class="small text-muted">Distance-based search is available when your location is provided. Please wait a moment.</p>
        <span>Latitude: <input class="user-latitude" id="user-latitude" type="text" name="userlatitude" readonly></span>
        <span>Longitude: <input class="user-longitude" id="user-longitude" type="text" name="userlongitude" readonly></span>
        
      </div>

            <!-- Pet Status -->
            <div class="col-md-3">
              <label class="form-label">Pet Status:</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bi bi-question-diamond-fill"></i>
                </span>       
                <select class="form-select" id="petStatus" name="petStatus">
                  <option value="">All</option>
                  <option value="Missing">Missing</option>
                  <option value="Found">Found</option>
                </select>
            </div>
          </div>

           <!-- Pet Species -->
       <div class="col-md-3">
        <label class="form-label">Species:</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-diamond-half"></i>
          </span>       
          <select class="form-select" id="species" name="species">
            <option value="">All</option>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
          </select>
      </div>
    </div>

       <!-- Pet Gender -->
       <div class="col-md-3">
        <label class="form-label">Pet Gender:</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-gender-ambiguous"></i>
          </span>       
          <select class="form-select" id="gender" name="gender">
            <option value="">All</option>
            <option value="She">She</option>
            <option value="He">He</option>

          </select>
      </div>
    </div>
 <!-- Pet Breed -->
    <div class="col-md-3">
      <label class="form-label" for="petBreed">Breed:</label>
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-grid-fill"></i></span>
        <input
          type="text"
          class="form-control pet-breed"
          id="petBreed"
          min="0"
          name=""
          value=""
          disabled
        />
      </div>
    </div>

 
      <div class="col-md-3">
        <label class="form-label">Pet color:</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-palette"></i>
          </span>       
          <select class="form-select" id="color" name="color">
            <option value="">All</option>
            <option value="Black">Black</option>
            <option value="Brown">Brown</option>
            <option value="White">White</option>
            <option value="Red">Red</option>
            <option value="Gold">Gold</option>
            <option value="Blue">Blue</option>
            <option value="Gray">Gray</option>
            <option value="Cream">Cream</option>
            <option value="Yellow">Yellow</option>
          </select>
      </div>
    </div>

 
      




      <div class="col-md-3">
        <label class="form-label" for="distance">Distance (km):</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-rulers"></i></span>
          <input
            type="text"
            class="form-control distance"
            id="distance"
            min="0"
            name="maxDistance"
            value=""
          />
        </div>
      </div>

      <!-- Age -->
      <div class="col-md-3">
        <label class="form-label">Pet Age:</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-calendar2-heart"></i>
          </span>       
          <select class="form-select" id="age" name="age">
            <option value="">All</option>
            <option value="Kitten">Kitten</option>
            <option value="Puppy">Puppy</option>
            <option value="Adolescent">Adolescent</option>
            <option value="Adult">Adult</option>
            <option value="Senior">Senior</option>
          </select>
      </div>
    </div>

   

      <!-- Coat type -->
      <div class="col-md-3">
        <label class="form-label">Coat Type:</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-wind"></i>
          </span>       
          <select class="form-select" id="coat" name="coat">
            <option value="">All</option>
            <option value="Hairless">Hairless</option>
            <option value="Short">Short Coated</option>
            <option value="Medium">Medium Coated</option>
            <option value="Long">Long Coated</option>
            <option value="Wire">Wire Coated</option>
            <option value="Curly">Curly Coated</option>
          </select>
      </div>
    </div>




       <div class="col-md-3">
        <label class="form-label">Pet Size:</label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-arrows-angle-expand"></i>
          </span>
        
          <select class="form-select" id="size" name="size">
            <!-- <option hidden disabled selected value>-- Select an option --</option> -->
            <option value="">All</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        <!-- <select class="form-control" id="mealType" name="mealTypes">
          < mealTypesOptions.forEach(option => { %>
            <option value="<= option %>" <= mealTypeValue === option ? 'selected' : '' %>>
              <= option %>
            </option>
          < }) %>
        </select> -->
      </div>
    </div>


      <div class="col-md-3">
        <label class="form-label" for="identifier">Identifier</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-fingerprint"></i></span>
          <input
            type="text"
            class="form-control identifier"
            id="identifier"
            min="0"
            name="identifier"
            value="<%= identifier || '' %>"
          />
        </div>
      </div>
  
      <div class="col-md-3">
        <label class="form-label" for="location">Location</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
          <input
            type="text"
            class="form-control location"
            id="location"
            min="0"
            name=""
            value=""
            disabled
          />
        </div>
      </div>

      <!-- Lost Date -->
      <div class="col-md-3">
        <label class="form-label" for="lostdate">Lost Date</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
          <input
            type="date"
            class="form-control lostdate"
            id="lostdate"
            min="0"
            name="lostdate"
            value="<%= lostdate || '' %>"
          />
        </div>
      </div>



      <!-- <div class="col-md-12">
        <div class="d-flex my-2">
          <div class="form-check form-switch me-3">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              name="petStatus"
              value="missing"
              checked
            />
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Show missing pets</label
            >
          </div>
          <div class="form-check form-switch me-3">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault2"
              name="petStatus"
              value="found"
              
            />
            <label class="form-check-label" for="flexSwitchCheckDefault2"
              >Show found pets</label
            >
          </div>
        </div>
      </div> -->

      <div class="col-md-12 my-3 d-flex ">
        <button class="btn btn-warning search-form-btn  me-2 " type="submit"><i class="bi bi-search"></i> Search</button>
        <button class="btn btn-secondary reset-form-btn"><i class="bi bi-eraser-fill"></i> Clear</button>
      </div>
    </div>
 
  </div>
 
  </form>
</div>

<!-- <h1>All Pets</h1> -->


<div class="row ">
  <% if (pets.length > 0) {%>
  <div class="col-md-12 mb-3">
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-5 g-3">
      <% for (let pet of pets) { %>
      <div class="col">
        <a
          href="/pets/<%=pet._id%>"
          style="text-decoration: none; color: #d4d4d4"
        >
          <div class="card shadow-sm pet-card">
            <p class="card-text pet-latitude d-none"><%=pet.latitude%></p>
            <p class="card-text pet-longitude d-none"><%=pet.longitude%></p>
            <% if(pet.images.length) {%>

            <!-- <img src="<=pet.image.url%>" alt="<=pet.title%>" /> -->
            <img
              src="<%=pet.images[0].url%>"
              class="bd-placeholder-img card-img-top"
              alt=""
              width="100%"
              max-height="225"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            />

            <% } else { %>
            <img class="img-fluid" src="/images/placeholder.jpg" alt="" />

            <% } %>

            <div class="card-body">
              <!-- <p class="card-title small" style="text-transform: capitalize">
                <b><=pet.title%></b>
              </p> -->
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary d-flex"
                  ><i class="bi bi-geo-alt-fill"></i>
                  <div class="distance-text mx-2">Calculating...</div></small
                >
              </div>
            </div>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
  <% } else { %>
  <div class="col-md-12">
    <p class="text-center">
      No matching pets found. Please adjust your search criteria.
    </p>
  </div>
  <% } %>
</div>

<!-- TOP PAGINATION ON MAP-->

<div class="col-md-12">
  <nav class="mt-5" aria-label="Page navigation">
    <ul class="d-flex justify-content-center">
      <div class="custom-page-link prev" style="width: 120px; margin-right: 3px; text-align: center; ">
        <a
         
          class="btn btn-primary custom-page-link <%= currentPage <= 1 ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage - 1  %>&limit=<%= limitPerPage %>"
          aria-label="Previous"
        >
          <span aria-hidden="true"><i class="bi bi-arrow-left"></i><span id="d-none d-sm-inline-block">Prev Page</span>
        </a>
      </div>

      <div class=" custom-page-link next"  style="width: 120px; margin-left: 3px;text-align: center; ">
        <a
        
          class="btn btn-primary  custom-page-link <%= currentPage >= totalPages ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage < totalPages ? currentPage + 1 : currentPage  %>&limit=<%= limitPerPage %>"
          aria-label="Next"
        >
          <span id="d-none d-sm-inline-block">Next Page</span
          ><span aria-hidden="true"><i class="bi bi-arrow-right"></i></span>
        </a>
      </div>
    </ul>
  </nav>
</div>

<!-- PAGINATION v2-->
<!-- <div class="col-md-12 d-none">
  <nav class="mt-5">

    <ul class="d-flex justify-content-end">

      <div class="d-flex align-items-center">
      <div class="page-item">
        <input
          class="custom-pagination-value"
          id="inputPageNumber"
          type="text"
          min="1"
          max="<%=totalPages%>"
          style="border: 1px solid #cfd9e0;
          width: 50px;
          height: 33px;
          text-align: center;
          padding: 0;
          margin: 0 10px 0 0;"
          value="<%=currentPage %>"
        />
      </div>
 

      <div class="">
        <input class="custom-pagination total-pages" value="of <%=totalPages%>" readonly style="border: none; outline: none; max-width: 3rem">
      </div>

      <div class=" custom-page-link prev" style="margin-right: 2px;">
        <a
        
          class="btn btn-secondary btn-sm custom-page-link <%= currentPage <= 1 ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage - 1  %>&limit=<%= limitPerPage %>"
          aria-label="Previous"
        >
          <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span
          ><span class="d-none d-sm-inline-block"></span>
        </a>
      </div>
      <div class=" custom-page-link next"  style="margin-left: 2px;">
        <a
        
          class="btn btn-secondary btn-sm custom-page-link <%= currentPage >= totalPages ? 'disabled' : '' %>"
          href="/pets?page=<%= currentPage < totalPages ? currentPage + 1 : currentPage  %>&limit=<%= limitPerPage %>"
          aria-label="Next"
        >
          <span class="d-none d-sm-inline-block"></span
          ><span aria-hidden="true"
            ><i class="bi bi-caret-right-fill"></i
          ></span>
        </a>
      </div>
    </div>
    </ul>
  </nav>
</div> -->

<!-- PAGINATION v3-->
<!-- <div class="col-md-12">
  <nav class="mt-5" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item custom-page-link prev">
        <a
          style="border: none"
          class="page-link custom-page-link <= currentPage <= 1 ? 'disabled' : '' %>"
          href="/pets?page=<= currentPage - 1  %>&limit=<= limitPerPage %>"
          aria-label="Previous"
        >
          <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span
          ><span class="d-none d-sm-inline-block">Prev</span>
        </a>
      </li>
      <li class="page-item">
        <p class="page-link custom-pagination disabled">Page</p>
      </li>
      <li class="page-item">
        <input
          class="page-link custom-pagination-value"
          type="text"
          min="1"
          max="<=totalPages%>"
          style="width: 3rem"
          value="<=currentPage %>"
        />
      </li>
      <li class="page-item">
        <p class="page-link custom-pagination disabled">
          of <span class="total-pages"><=totalPages%></span>
        </p>
      </li>
      <li class="page-item">
        <button class="btn btn-warning pagination-btn">Go</button>
      </li>
      <li class="page-item custom-page-link next">
        <a
          style="border: none"
          class="page-link custom-page-link <= currentPage >= totalPages ? 'disabled' : '' %>"
          href="/pets?page=<= currentPage < totalPages ? currentPage + 1 : currentPage  %>&limit=<= limitPerPage %>"
          aria-label="Next"
        >
          <span class="d-none d-sm-inline-block">Next</span
          ><span aria-hidden="true"
            ><i class="bi bi-caret-right-fill"></i
          ></span>
        </a>
      </li>
    </ul>
  </nav>
</div> -->

<script>
  let checkboxMissing = document.querySelector("#flexSwitchCheckDefault");
  let checkboxFound = document.querySelector("#flexSwitchCheckDefault2");
  checkboxMissing.addEventListener("change", () => {
    if (checkboxMissing.checked == true) {
      console.log("nothing hapens");
      checkboxFound.checked = false;
    } 
  });

  checkboxFound.addEventListener("change", () => {
    if (checkboxFound.checked == true) {
      console.log("nothing hapens");
      checkboxMissing.checked = false;
    } 
  });
</script>
<script>
  if ("geolocation" in navigator) {
    let userLatitude = document.querySelector('#user-latitude')
    let userLongitude = document.querySelector('#user-longitude')
    // geolocation is available
    navigator.geolocation.getCurrentPosition((position) => {
      userLatitude.value = position.coords.latitude;
    
      userLongitude.value = position.coords.longitude;
      console.log('lat, lng', userLatitude, userLongitude)
    })}
</script>

<script>
  let allPetCards = document.querySelectorAll(".pet-card");
  allPetCards.forEach((card) => {
    let petLat = card.childNodes[1].innerHTML;
    let petLng = card.childNodes[3].innerHTML;
    let newDist = card.childNodes[9].childNodes[3].childNodes[1].childNodes[2];
    // add button on map to zoom to current location
    let userLat;
    let userLng;

    if ("geolocation" in navigator) {
      // geolocation is available
      navigator.geolocation.getCurrentPosition((position) => {
        userLat = position.coords.latitude;
        userLng = position.coords.longitude;

        function DegreeToRadian(coordinate) {
          return (coordinate * Math.PI) / 180;
        }
        function CalculateDistance() {
          const latitude1 = DegreeToRadian(Number(userLat));
          const longitude1 = DegreeToRadian(Number(userLng));

          const latitude2 = DegreeToRadian(Number(petLat));
          const longitude2 = DegreeToRadian(Number(petLng));

          // The formula
          const latDiff = latitude2 - latitude1;
          const lonDiff = longitude2 - longitude1;
          const R = 6371000 / 1000;

          const a =
            Math.sin(latDiff / 2) * Math.sin(latDiff / 2) +
            Math.cos(latitude1) *
              Math.cos(latitude2) *
              Math.sin(lonDiff / 2) *
              Math.sin(lonDiff / 2);
          const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

          const d = R * c;

          const dist =
            Math.acos(
              Math.sin(latitude1) * Math.sin(latitude2) +
                Math.cos(latitude1) * Math.cos(latitude2) * Math.cos(lonDiff)
            ) * R;
          return dist.toFixed(2);
        }
        let result = CalculateDistance();

        newDist.innerHTML = `${result} km`;
        //newDist.innerHTML = `${result} km from you`;
      });
    }
  });
</script>

<style>
  .mapboxgl-popup-content {
    background-color: none !important;
    background: none !important;
    border: 3px solid white;
    border: none !important;
    box-shadow: none !important;
    border-radius: 50%;
    padding: 0;
    margin: 0;

    /*all: unset;*/
  }
</style>
<script>
    let searchFormBtn = document.querySelector(".search-form-btn");
    let resetFormBtn = document.querySelector(".reset-form-btn")
    //let paginationBtn = document.querySelector(".pagination-btn");
  
    let filterPetStatus = document.querySelector("#petStatus");
    let filterSpecies = document.querySelector("#species");
    let filterGender = document.querySelector("#gender");
    let filterBreed = document.querySelector("#petBreed");
    let filterColor = document.querySelector("#color");
    let filterDistance = document.querySelector("#distance");
    let filterAge = document.querySelector("#age");
    let filterCoat = document.querySelector("#coat");
    let filterSize = document.querySelector("#size");
    let filterIdentifier = document.querySelector("#identifier");
    let filterLocation = document.querySelector("#location");
    let filterLostDate = document.querySelector("#lostdate");
  

 
    function clearFormFilterValues() {
      filterPetStatus.selectedIndex = -1;
      filterSpecies.selectedIndex = -1;
      filterGender.selectedIndex = -1;
      filterBreed.selectedIndex = -1;
      filterColor.selectedIndex = -1;
      filterDistance.value = "";
      filterAge.selectedIndex = -1;
      filterCoat.selectedIndex = -1;
      filterSize.selectedIndex = -1;
      filterIdentifier.value = "";
      filterLocation.selectedIndex = -1;
      filterLostDate.value = "";
    }

    resetFormBtn.addEventListener("click", (e) => {
      e.preventDefault()
      clearFormFilterValues()
    
    })


//const inputPageNumber = document.querySelector('#inputPageNumber');
//inputPageNumber.addEventListener('keyup', function(event) {
  //if (event.key === 'Enter') {
    // Enter key was pressed
  //  goToPage();
  //}
//});

// Example search function
//function goToPage() {
  // Perform search operation
 // console.log('go to page!');
//}

</script>
<script>
  const TOMTOMTOKEN = "<%-process.env.TOMTOM_API_KEY%>";
  const pets = {features: <%-JSON.stringify(pets)%>}
</script>
<script src="/javascripts/clusterMap.js"></script>
