<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="row">
  <div class="col-md-12 mb-3">
    <h1 class="text-center"><%= category.name %></h1>
    <h3 class="text-center"><%= category.description %></h3>
  </div>
  <section class="col-md-6 col-sm-12">
    <% if (category.serviceProviders.length > 0) {%> <% for (let service of
    category.serviceProviders) { %>

    <div class="card">
      <div class="card-header"><%= service.name %></div>
      <div class="card-body">
        <h5 class="card-title"><%= category.name %></h5>
        <p class="card-text"><%= service.description %></p>
        <ul class="list-group list-group-flush show-pet-list">
          <li class="list-group-item"><b>Phone:</b> <%= service.phone %></li>
          <li class="list-group-item"><b>Email:</b> <%= service.email %></li>

          <li class="list-group-item">
            <b>Website:</b> <%= service.website %>
          </li>
          <li class="list-group-item">
            <b>Social Media:</b>
            <p><i class="bi bi-facebook"></i> <%= service.socialMedia[0] %></p>
            <p><i class="bi bi-instagram"></i> <%= service.socialMedia[1] %></p>
            <p><i class="bi bi-linkedin"></i> <%= service.socialMedia[2] %></p>
            <p><i class="bi bi-twitter"></i> <%= service.socialMedia[3] %></p>
          </li>
        </ul>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <% } %> <% } else {%>
    <p>Services are not available</p>

    <% } %>
  </section>
  <section class="col-md-6 col-sm-12">
    <div id="map" class="map col-sm-12" style="height: 500px"></div>
  </section>
</div>
<script>
  const TOMTOMTOKEN = "<%-process.env.TOMTOM_API_KEY%>";
</script>

<script src="/javascripts/servicePageMap.js"></script>
